/*********Colors*********/
.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}
.red{
    background-color: #FC6C6D;
}
.green{
    background-color: #77c850;
}
/*********End Colors*********/
.content {
    animation: topdown 700ms 350ms backwards;
}

.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 0;
    margin: 0;

}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 2rem 1rem;
    color: #FFFFFF;
    border-radius: 1rem;
    transition: all 200ms;
}

.pokemons li:hover,
.pokemon .detail img:hover, .pokemon .detail .types .type:hover {
    transform: scale(1.1);
}

.pokemon .number {
    color: #000;
    opacity: 0.3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name {
    color: #FFF;
    margin-bottom: 0;
    text-transform: capitalize;

}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    color: #FFF;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
    transition: all 200ms;
}

.pokemon .detail img {
    height: 80px;
    transition: all 200ms;
    max-width: 100%;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
    animation: downtop 750ms 350ms backwards;
}

.pagination button {
    padding: 0.25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
    color: #FFF;
    cursor: pointer;
}

.loadDetailButton {
    padding: 0.25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border: none;
    border-radius: 1rem;
    color: #FFF;
    cursor: pointer;
    transition: all 200ms;
}

.loadDetailButton:hover {
    transform: scale(1.1);
}


@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@keyframes topdown {
    0% {
        opacity: 0;
        transform: translateY(-15px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes downtop {
    0% {
        opacity: 0;
        transform: translateY(15px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.modal {
    display: none;
    /* Oculta o modal por padrão */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);

}

.modal-content {
    margin: 15% auto;
    padding: 0;
    border: 1px solid #888;
    width: 20rem;
    max-height: 40rem;
    border-radius: 20px;

}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: all 200ms;
    background-color: #ff131300;
    border: none;
    padding: 10px;

}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/*Parte de baixo*/
.modal-listDetailStats {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 0;
    width: 80%;
    max-width: 600px;
    height: 20rem;
    width: 20rem;
    border-radius: 20px;
    font-size: 0.9rem;
    font-family: 'Roboto', sans-serif;
}

.modal-listDetailStats li {
    list-style-type: none;
}

/*Navegação*/
.modal-listDetailStats .pokemons-nav-stats {
    color: #ababab;
    display: flex;
    justify-content: space-around;
}

.pokemons-nav-stats li {
    margin-top: 15px;
}

.pokemons-nav-stats li:hover {
    cursor: pointer;
    color: #000;
    transition: all 200ms;
}

/*details - about*/
ol.about-pokemon-details {
    display: flex;
    padding: 10px;
    flex-direction: column;
    row-gap: 15px;
    margin-left: 5px;
    text-transform: capitalize;
}

.about-pokemon-details li {
    display: grid;
    align-items: center;
    align-content: center;
    grid-template-columns: 1fr 1fr 3fr;
    height: 30px;
}

.about-pokemon-details li span:nth-child(2) {
    display: grid;
    justify-items: center;
}


.progress-bar {
    width: 100%;
    height: 5px;
    background-color: #f2f2f2;
    border-radius: 10px;
    overflow: hidden;
}

.progress-bar-fill {
    height: 100%;
    transition: width 0.3s ease-in-out;
}

li.breeding {
    row-gap: 15px;
    padding: 0;
    display: flex;
    flex-direction: column;
}

li.breeding ol.breeding-list {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

ol.breeding-gender {
    display: flex;
    flex-direction: row;
}

.about-pokemon-details span:nth-child(1) {

    color: #ababab;
}

.about-pokemon-details span:nth-child(2) {

    color: #000;
}